program: main_pretrain.py
method: random
metric:
  goal: minimize
  name: loss_value
parameters:
  decoder_embed_dim:
    values: [512, 1024]
  decoder_depth:
    values: [4, 6]
  decoder_attn_type:
    values:
      - Normal
      - RAD
    distribution: categorical
  sep_pos_embed:
    values: [True, False]
    distribution: categorical
  mask_with_magnitude:
    values: [True, False]
    distribution: categorical
  model:
    values:
      - mae_rpt_small
      - mae_rpt_base
    distribution: categorical
  blr:
    max: 0.05
    min: 0.005
    distribution: uniform
  min_lr:
    max: 0.00001
    min: 0.000001
    distribution: uniform
  weight_decay:
    max: 0.1
    min: 0.025
    distribution: uniform
  mask_ratio:
    values: [0.80, 0.90]
command:
  - ${env}
  - python
  - ${program}
  - ${args}
  - --RADDet_config_path=/mnt/SrvUserDisk/ZhangXu/pretrain/rpt/datasets/RADDet_config.json
  - --data_type=RADDet
  - --output_dir=./sweep_dir
  - --device=cuda:1
  - --seed=42
  - --epochs=30
  - --batch_size=2
  - --num_workers=2
  - --warmup_epochs=0
  - --decoder_num_heads=8
  - --checkpoint_period=10
  - --pin_mem
  - --wandb
  - --comment=wandb-sweep
