name: sweep_decoder
description: sweep decoder 
program: main_pretrain.py
method: grid
metric:
  goal: minimize
  name: loss_value
parameters:
  decoder_embed_dim:
    values: [512, 1024]
  decoder_depth:
    values: [4, 6]
  decoder_attn_type:
    values: [Normal, RAD]
command:
  - ${env}
  - OMP_NUM_THREADS=4
  - CUDA_VISIBLE_DEVICES=0,1,2,3
  - torchrun
  - --nproc_per_node=4
  - ${program}
  - ${args}
  - --mask_ratio=0.80
  - --model=mae_rpt_base
  - --RADDet_config_path=./datasets/RADDet_config.json
  - --data_type=RADDet
  - --output_dir=./sweep_dir
  - --device=cuda:1
  - --seed=42
  - --epochs=40
  - --batch_size=3
  - --num_workers=4
  - --warmup_epochs=2
  - --decoder_num_heads=8
  - --checkpoint_period=10
  - --pin_mem
  - --wandb
  - --comment=wandb-sweep
  - --mask_with_magnitude
  - --blr=0.008
  - --min_lr=0.000001
  - --weight_decay=0.11
